.container {
    width: 100%;
}

.project-name-input {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.dropzone-button {
  margin-top: 2rem;
}

.simplegrid-container {
  margin-top: 20px;
}

.close-button {
  margin-bottom: -3px;
}

.flex-buttons {
  display: flex;
  justify-content: space-between;
}

.mantine-Modal-inner {
  padding-left: 0;
  padding-right: 0;
}

.mantine-11q5icf {
  display: none;
}

@media only screen and (max-width: 768px) {
  .flex-buttons {
    justify-content: center;
  }
  .mantine-Modal-inner {
    width: 90%;
    margin-left: 10px;
  }
}
